@require '../../../node_modules/axis/axis';
@require '../../../node_modules/jeet/stylus/jeet';

normalize-css();

h1
  h1()

h2
  h2()

h3
  h3()

h4
  h4()

h5
  h5()

h6
  h6()

#app
  align(horizontal)
  area #D4EEF8